IHSGAnjlokClientTCP/src/META-INF/wsdl/localhost_8080/IHSGAnjlokServer/MenuManagementWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ihsganjlok.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ihsganjlok.com/" name="MenuManagementWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ihsganjlok.com/" schemaLocation="http://localhost:8080/IHSGAnjlokServer/MenuManagementWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllMenu">
<part name="parameters" element="tns:getAllMenu"/>
</message>
<message name="getAllMenuResponse">
<part name="parameters" element="tns:getAllMenuResponse"/>
</message>
<message name="updateMenu">
<part name="parameters" element="tns:updateMenu"/>
</message>
<message name="updateMenuResponse">
<part name="parameters" element="tns:updateMenuResponse"/>
</message>
<message name="deleteMenu">
<part name="parameters" element="tns:deleteMenu"/>
</message>
<message name="deleteMenuResponse">
<part name="parameters" element="tns:deleteMenuResponse"/>
</message>
<message name="getAvailableMenu">
<part name="parameters" element="tns:getAvailableMenu"/>
</message>
<message name="getAvailableMenuResponse">
<part name="parameters" element="tns:getAvailableMenuResponse"/>
</message>
<message name="addMenu">
<part name="parameters" element="tns:addMenu"/>
</message>
<message name="addMenuResponse">
<part name="parameters" element="tns:addMenuResponse"/>
</message>
<message name="searchMenu">
<part name="parameters" element="tns:searchMenu"/>
</message>
<message name="searchMenuResponse">
<part name="parameters" element="tns:searchMenuResponse"/>
</message>
<portType name="MenuManagementWebService">
<operation name="getAllMenu">
<input wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/getAllMenuRequest" message="tns:getAllMenu"/>
<output wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/getAllMenuResponse" message="tns:getAllMenuResponse"/>
</operation>
<operation name="updateMenu">
<input wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/updateMenuRequest" message="tns:updateMenu"/>
<output wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/updateMenuResponse" message="tns:updateMenuResponse"/>
</operation>
<operation name="deleteMenu">
<input wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/deleteMenuRequest" message="tns:deleteMenu"/>
<output wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/deleteMenuResponse" message="tns:deleteMenuResponse"/>
</operation>
<operation name="getAvailableMenu">
<input wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/getAvailableMenuRequest" message="tns:getAvailableMenu"/>
<output wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/getAvailableMenuResponse" message="tns:getAvailableMenuResponse"/>
</operation>
<operation name="addMenu">
<input wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/addMenuRequest" message="tns:addMenu"/>
<output wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/addMenuResponse" message="tns:addMenuResponse"/>
</operation>
<operation name="searchMenu">
<input wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/searchMenuRequest" message="tns:searchMenu"/>
<output wsam:Action="http://services.ihsganjlok.com/MenuManagementWebService/searchMenuResponse" message="tns:searchMenuResponse"/>
</operation>
</portType>
<binding name="MenuManagementWebServicePortBinding" type="tns:MenuManagementWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MenuManagementWebService">
<port name="MenuManagementWebServicePort" binding="tns:MenuManagementWebServicePortBinding">
<soap:address location="http://localhost:8080/IHSGAnjlokServer/MenuManagementWebService"/>
</port>
</service>
</definitions>