IHSGAnjlokClientTCP/src/META-INF/wsdl/localhost_8080/IHSGAnjlokServer/MenuManagementWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.ihsganjlok.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.ihsganjlok.com/">

<xs:element name="addMenu" type="tns:addMenu"/>

<xs:element name="addMenuResponse" type="tns:addMenuResponse"/>

<xs:element name="deleteMenu" type="tns:deleteMenu"/>

<xs:element name="deleteMenuResponse" type="tns:deleteMenuResponse"/>

<xs:element name="getAllMenu" type="tns:getAllMenu"/>

<xs:element name="getAllMenuResponse" type="tns:getAllMenuResponse"/>

<xs:element name="getAvailableMenu" type="tns:getAvailableMenu"/>

<xs:element name="getAvailableMenuResponse" type="tns:getAvailableMenuResponse"/>

<xs:element name="searchMenu" type="tns:searchMenu"/>

<xs:element name="searchMenuResponse" type="tns:searchMenuResponse"/>

<xs:element name="updateMenu" type="tns:updateMenu"/>

<xs:element name="updateMenuResponse" type="tns:updateMenuResponse"/>

<xs:complexType name="getAllMenu">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMenu">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="harga" type="xs:int"/>
<xs:element name="keterangan" type="xs:string" minOccurs="0"/>
<xs:element name="kategori" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMenu">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableMenu">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAvailableMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMenu">
<xs:sequence>
<xs:element name="keyword" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMenu">
<xs:sequence>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="harga" type="xs:int"/>
<xs:element name="keterangan" type="xs:string" minOccurs="0"/>
<xs:element name="kategori" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMenuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>