IHSGAnjlokClientTCP/src/META-INF/wsdl/localhost_8080/IHSGAnjlokServer/UserWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ihsganjlok.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ihsganjlok.com/" name="UserWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ihsganjlok.com/" schemaLocation="http://localhost:8080/IHSGAnjlokServer/UserWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getUserById">
<part name="parameters" element="tns:getUserById"/>
</message>
<message name="getUserByIdResponse">
<part name="parameters" element="tns:getUserByIdResponse"/>
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers"/>
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse"/>
</message>
<message name="updateProfile">
<part name="parameters" element="tns:updateProfile"/>
</message>
<message name="updateProfileResponse">
<part name="parameters" element="tns:updateProfileResponse"/>
</message>
<portType name="UserWebService">
<operation name="register">
<input wsam:Action="http://services.ihsganjlok.com/UserWebService/registerRequest" message="tns:register"/>
<output wsam:Action="http://services.ihsganjlok.com/UserWebService/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://services.ihsganjlok.com/UserWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://services.ihsganjlok.com/UserWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getUserById">
<input wsam:Action="http://services.ihsganjlok.com/UserWebService/getUserByIdRequest" message="tns:getUserById"/>
<output wsam:Action="http://services.ihsganjlok.com/UserWebService/getUserByIdResponse" message="tns:getUserByIdResponse"/>
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://services.ihsganjlok.com/UserWebService/getAllUsersRequest" message="tns:getAllUsers"/>
<output wsam:Action="http://services.ihsganjlok.com/UserWebService/getAllUsersResponse" message="tns:getAllUsersResponse"/>
</operation>
<operation name="updateProfile">
<input wsam:Action="http://services.ihsganjlok.com/UserWebService/updateProfileRequest" message="tns:updateProfile"/>
<output wsam:Action="http://services.ihsganjlok.com/UserWebService/updateProfileResponse" message="tns:updateProfileResponse"/>
</operation>
</portType>
<binding name="UserWebServicePortBinding" type="tns:UserWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWebService">
<port name="UserWebServicePort" binding="tns:UserWebServicePortBinding">
<soap:address location="http://localhost:8080/IHSGAnjlokServer/UserWebService"/>
</port>
</service>
</definitions>